[submodule "external/libdwarf"]
	path = external/libdwarf
	url = https://github.com/davea42/libdwarf-code.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/nfd"]
	path = external/nfd
	url = https://github.com/mlabbe/nativefiledialog
[submodule "external/psplinkusb"]
	path = external/psplinkusb
	url = https://github.com/pspdev/psplinkusb
[submodule "external/libusb"]
	path = external/libusb
	url = https://github.com/libusb/libusb
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
