[submodule "external/libdwarf"]
	path = external/libdwarf
	url = https://github.com/davea42/libdwarf-code.git
[submodule "external/pspeditrt"]
	path = external/pspeditrt
	url = https://github.com/adriensalon/pspeditrt
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/nfd"]
	path = external/nfd
	url = https://github.com/mlabbe/nativefiledialog
